/* gaya.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  background-image:url(image/bg.png) ;
  background-size: 100%;
}

#app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px blue;
}

h1 {
  color: #333;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: #4c90af;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
}

li button {
  margin-left: 5px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

li button:hover {
  background-color: #d32f2f;
}
